@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  text-decoration: none;
}

body {
  display: block;
  font-family: "Inter";
  font-weight: 400;
  margin: auto;
  max-width: 1920px;
}

/* надо увиличть кликабельную зону ссылок */
/* a {
  display: inline-block;
} */

.navbar {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  width: 100%;
}

.logo {
  align-items: center;
  padding: 20px;
}

.nav-center > a {
  padding: 20px;
  color: #35414b;
}

.nav-login > a {
  padding: 20px;
  color: #35414b;
}

.nav-login > a:hover {
  color: #9f9f9f;
}

.get-started-button {
  background-color: #ece5ff;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  color: #794cff;
  font-weight: 600;
  padding: 15px 20px;
}

.get-started-button:hover {
  background-color: #794cff;
  color: white;
}

.nav-link:hover {
  color: #9f9f9f;
}

.discount {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.discount-59 {
  border-left: 30px solid #f2f9eb;
  padding: 10px 15px;
  margin-left: -45px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f2f9eb;
  z-index: -1;
}

.discount-90 {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  color: white;
  background-color: #81c43b;
}

.head-title {
  display: block;
  margin: auto;
  width: 900px;
  text-align: center;
}

.head-small-text {
  width: 56%;
  margin: auto;
}

h1 {
  font-size: 72px;
}

.email-input-container {
  display: inline-block;
  margin: 24px;
}

.email-input {
  margin: 0;
  padding: 15px 70px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.email-input:focus {
  outline: none;
}

.email-input::placeholder {
  color: #97a5b5;
}

.submit-email {
  /* надо убрать margin и float и найти нормально решение */
  margin-left: -3px;
  padding: 15px 40px;
  border: 2px solid #794cff;
  border-left: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  background-color: #794cff;
  color: white;
  float: right;
}

/* искривленная линия */
/* .curved-line {
  display: block;
  box-sizing: border-box;
  height: 500px;
  border: 1px solid #F0EBFA;
  background-color: #fbfafe;
  clip-path: ellipse(75% 100% at 50% 0%);
} */

.submit-email:hover {
  background-color: #ece5ff;
  border: 2px solid #ece5ff;
  color: #794cff;
}

.content-first {
  display: flex;
  justify-content: center;
}

.text-under-image {
  text-align: center;
  margin-top: 50px;
}

.small-text {
  color: #4e5a65;
}

.head-text {
  color: #35414b;
}

.companies {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-second {
  background-color: #fbfafe;
  border: 1px solid #f0ebfa;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 60px 0;
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.content-second-image {
  margin-right: 50px;
}

.content-second-text-columns {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.first-column {
  background-color: #f6f3fc;
  border-left: 8px solid #794cff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.text-column {
  box-sizing: border-box;
  padding: 10px 30px;
  width: 380px;
}

.with-bottom-line {
  border-bottom: 1px solid #f0ebfa;
}
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 160px;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: blueviolet;
  width: 169px;
  height: 48px;
  border: none;
  border-radius: 4px;
}
.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.text1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 39px;
}

.text::after {
  content: "ˇ";
}
#head {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}
.middle {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.third {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* html,
body,
div,
span,
applet,
object,
iframe,

h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.HeadText {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: rgb(53, 65, 75);
  font-weight: 600;
}
.uslugi {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.img21 {
  align-items: center;
  width: 100px;
}
#first {
  font-size: 20px;
  font-weight: 600;
  padding-top: 24px;
  color: rgb(53, 65, 75);
}
#second {
  font-size: 17px;
  padding-top: 5px;
  color: rgb(78, 90, 101);
}
.main {
  display: flex;
  justify-content: center;
}
.Big {
  font-size: 40px;
  font-weight: 600;
  color: rgb(53, 65, 75);
}
.box {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: rgb(240, 235, 250);
  display: flex;
  justify-content: center;
}
.text-box {
  display: flex;
  flex-direction: column;
}
.small {
  padding-top: 24px;
  padding-bottom: 32px;
}
.button {
  font-size: 16px;
  color: white;
  background-color: rgb(121, 110, 255);
  width: 169px;
  height: 48px;
  border: none;
  border-radius: 4px;
}
.img-box {
  padding-left: 250px;
}
#Big {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}
#small {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 0;
}
#people-text {
  font-weight: 600;
}
#people-text2 {
  font-size: 16px;
}
.tekst {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.people {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.img-ppl {
  width: 48px;
}
.people-1 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 15px;
}
.people-1:hover {
  border-top: 5px solid rgb(53, 65, 75);
}
.break {
  width: 1110px;
  height: 224px;
  background-color: rgb(121, 110, 255);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#break-txt {
  color: white;
  font-size: 32px;
  display: flex;
  align-self: center;
  margin-left: 80px;
}
.icony {
  width: 180px;
}
#icony-id {
  margin-right: 66px;
}
#icony-id1 {
  margin-left: 120px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(29, 40, 48);
  margin: 0;
  margin-top: 100px;
  border: 2px solid gray;
}
.footer-txt {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 100px;
  padding-bottom: 76px;
}
.under-footer {
  background-color: rgb(29, 40, 48);
  margin: 0;
  color: white;
}
.img-underfooter {
  padding: 10px 0;
}
.dvig {
  padding: 5px 0;
  font-weight: 600;
  font-size: 16px;
}
.dvig_light {
  font-weight: 100;
}
.txt {
  font-size: 14px;
  color: #d9dbe1;
}
