@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  text-decoration: none;
}

body {
  display: block;
  font-family: "Inter";
  font-weight: 400;
  margin: auto;
  max-width: 1920px;
}

/* надо увиличть кликабельную зону ссылок */
/* a {
  display: inline-block;
} */

.navbar {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  width: 100%;
}

.logo {
  align-items: center;
  padding: 20px
}

.nav-center > a {
  padding: 20px;
  color: #35414b;
}

.nav-login > a {
  padding: 20px;
  color: #35414b;
}

.nav-login > a:hover {
  color: #9f9f9f;
}

.get-started-button {
  background-color: #ece5ff;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  color: #794cff;
  font-weight: 600;
  padding: 15px 20px;
}

.get-started-button:hover {
  background-color: #794cff;
  color: white;
}

.nav-link:hover {
  color: #9f9f9f;
}

.discount {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.discount-59 {
  border-left: 30px solid #f2f9eb;
  padding: 10px 15px;
  margin-left: -45px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f2f9eb;
  z-index: -1;
}

.discount-90 {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  color: white;
  background-color: #81c43b;
}

.head-title {
  display: block;
  margin: auto;
  width: 900px;
  text-align: center;
}

.head-small-text {
  width: 56%;
  margin: auto;
}

h1 {
  font-size: 72px;
}

.email-input-container {
  display: inline-block;
  margin: 24px;
}

.email-input {
  margin: 0;
  padding: 15px 70px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.email-input:focus {
  outline: none;
}

.email-input::placeholder {
  color: #97a5b5;
}

.submit-email {
  /* надо убрать margin и float и найти нормально решение */
  margin-left: -3px;
  padding: 15px 40px;
  border: 2px solid #794cff;
  border-left: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  background-color: #794cff;
  color: white;
  float: right;
}

/* искривленная линия */
/* .curved-line {
  display: block;
  box-sizing: border-box;
  height: 500px;
  border: 1px solid #F0EBFA;
  background-color: #fbfafe;
  clip-path: ellipse(75% 100% at 50% 0%);
} */

.submit-email:hover {
  background-color: #ece5ff;
  border: 2px solid #ece5ff;
  color: #794cff;
}

.content-first {
  display: flex;
  justify-content: center;
}

.text-under-image {
  text-align: center;
  margin-top: 50px;
}

.small-text {
  color: #4E5A65;
}

.head-text {
  color: #35414B;
}

.companies {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-second {
  background-color: #FBFAFE;
  border: 1px solid #F0EBFA;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 60px 0;
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.content-second-image {
  margin-right: 50px;
}

.content-second-text-columns {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.first-column {
  background-color: #F6F3FC;
  border-left: 8px solid #794CFF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.text-column {
  box-sizing: border-box;
  padding: 10px 30px;
  width: 380px;
}

.with-bottom-line {
  border-bottom: 1px solid #F0EBFA;
}