@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  text-decoration: none;
}

body,
html {
  display: block;
  font-family: "Inter";
  font-weight: 400;
  margin: auto;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.navbar__logo {
  align-items: center;
  padding: 20px;
}

.navbar__center > a {
  padding: 20px;
  color: #35414b;
}

.navbar__login > a {
  padding: 20px;
  color: #35414b;
}

.navbar__login > a:hover {
  color: #9f9f9f;
}

.navbar__login_get-started-button {
  background-color: #ece5ff;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  color: #794cff;
  font-weight: 600;
  padding: 15px 20px;
  cursor: pointer;
}

.navbar__login_get-started-button:hover {
  background-color: #794cff;
  color: white;
}

.navbar__center_link:hover {
  color: #9f9f9f;
}

.discount {
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}

.discount__59 {
  border-left: 30px solid #f2f9eb;
  padding: 10px 15px;
  margin-left: -45px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f2f9eb;
  z-index: -1;
}

.discount__90 {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  color: white;
  background-color: #81c43b;
}

.head-title {
  display: block;
  margin: auto;
  width: 900px;
  text-align: center;
}

.head-title__small-text {
  width: 56%;
  margin: auto;
}

.head-title__text {
  font-size: 72px;
}

.head-title__input-container {
  display: inline-block;
  padding: 24px 0;
  box-sizing: border-box;
}

.head-title__input-container_email-input {
  margin: 0;
  padding: 15px 70px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.head-title__input-container_email-input:focus {
  outline: none;
}

.head-title__input-container_email-input::placeholder {
  color: #97a5b5;
}

.head-title__input-container_submit-email {
  padding: 15px 40px;
  border: 1px solid #794cff;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  background-color: #794cff;
  color: white;
  cursor: pointer;
  margin-left: -10px;
}

/* не смог убрать сдвиг инпута */
.head-title__input-container_submit-email:hover {
  background-color: #ece5ff;
  border: 1px solid transparent;
  color: #794cff;
}

.content-first {
  display: flex;
  justify-content: center;
}

.content-first__container_text-under-image {
  text-align: center;
  margin-top: 50px;
}

.small-text {
  color: #4e5a65;
}

.head-text {
  color: #35414b;
}

.content-first__container_companies {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-second {
  background-color: #fbfafe;
  border: 1px solid #f0ebfa;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 60px 0;
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.content-second__image {
  align-self: center;
  margin-right: 50px;
}

.content-second__image img {
  width: 100%;
  object-fit: cover;
}

.content-second__text-columns {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.first-column {
  background-color: #f6f3fc;
  border-left: 8px solid #794cff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-second__text-columns_column {
  box-sizing: border-box;
  padding: 10px 30px;
  width: 380px;
}

.content-second__text-columns_column:hover {
  background-color: #f6f3fc;
  border-left: 8px solid #794cff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.with-bottom-line {
  border-bottom: 1px solid #f0ebfa;
}

.head-text-for-services {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: rgb(53, 65, 75);
  font-weight: 600;
}

.main__services {
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  width: 306px;
}

.main__services_img {
  align-items: center;
  width: 80px;
}

.main__services_first {
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
  color: rgb(53, 65, 75);
}

.main__services_second {
  font-size: 17px;
  padding-top: 10px;
  color: rgb(78, 90, 101);
}

.main {
  display: flex;
  justify-content: center;
}

.box__text_big {
  font-size: 40px;
  font-weight: 600;
  color: rgb(53, 65, 75);
}

.box {
  padding: 68px 0;
  background-color: #fbfafe;
  border: 1px solid #f0ebfa;
  border-left: none;
  border-right: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box__text {
  display: flex;
  flex-direction: column;
}

.box__text_small {
  padding-top: 24px;
  padding-bottom: 32px;
  line-height: 25px;
}

.box__text_button {
  font-size: 16px;
  color: white;
  background-color: rgb(121, 110, 255);
  width: 169px;
  height: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.box__img {
  padding-left: 100px;
}

#box__text_big {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

#box__text_small {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 0;
  line-height: 30px;
}

#people__first_text_first {
  font-weight: 600;
}

#people__first_text_second {
  font-size: 16px;
}

.people__first_text {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 160px;
}

.people {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.people__first_img {
  width: 48px;
}

.people__first {
  display: flex;
  width: 264px;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 15px;
}

.people_border {
  border-top: 5px solid rgb(53, 65, 75);
}

.break {
  width: 1110px;
  height: 224px;
  background-color: rgb(121, 110, 255);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#break__text {
  color: white;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  align-self: center;
  margin-left: 80px;
}

.break__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.break__icon {
  cursor: pointer;
  padding: 0 12px;
  width: 180px;
  height: fit-content;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(29, 40, 48);
  margin: 0;
  margin-top: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.footer__container_block {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 100px;
  padding-bottom: 76px;
}

.under-footer {
  background-color: rgb(29, 40, 48);
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
}

.footer__container_img {
  padding: 10px 0;
  width: 162px;
  height: 48px;
}

.footer__container_block_link {
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
}

.link_light {
  font-weight: 300;
}

.under-footer__container_text {
  font-size: 14px;
  color: #d9dbe1;
}

.under-footer__container_img_exact {
  padding-left: 12px;
  width: 32px;
}

.under-footer__container {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
}

.footer__container {
  width: 1110px;
  display: flex;
  justify-content: space-between;
}

.footer__container_block_install-text {
  font-weight: 600;
  padding: 10px 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
}

#burger-input {
  display: none;
}

.nav-burger {
  display: none;
}

#burger-input:checked ~ .nav-burger {
  visibility: visible;
  left: 0;
}

#burger-input:checked + #burger-menu {
  background: linear-gradient(
    to bottom,
    white,
    white 20%,
    transparent 20%,
    transparent 40%,
    white 40%,
    white 60%,
    transparent 60%,
    transparent 80%,
    white 80%,
    white 100%
  );
  z-index: 12 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: 1;
}

.navbar__logo_with-burger {
  display: none;
}

#burger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

.nav-container-md {
  display: none;
  position: fixed;
  padding: 5%;
  width: 100%;
  background-color: #d3cee1a5;
}

@media screen and (max-width: 1200px) {
  .content-second {
  padding: 5% 0;
  margin: 5% 0;
  justify-content: center;
}

.content-second__image {
  display: flex;
  justify-content: center;
}

.content-second__image img {
  width: 90%;
}

.content-second__text-columns {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.first-column {
  background-color: #f6f3fc;
  border-left: 8px solid #794cff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-second__text-columns_column {
  box-sizing: border-box;
  padding: 10px 30px;
  width: 380px;
}

.content-second__text-columns_column:hover {
  background-color: #f6f3fc;
  border-left: 8px solid #794cff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.with-bottom-line {
  border-bottom: 1px solid #f0ebfa;
}
  
  .main {
    align-items: center;
    justify-content: center;
  }
  .main__services {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box {
    justify-content: center;
  }
  .box__img_image {
    width: 80%;
    padding: 0%;
  }
  .break {
    width: 90%;
  }
  #break__text {
    margin: 0;
  }
  .break__icon {
    margin: 0;
    padding: 0;
  }
  .second-icon {
    padding-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .head-title {
    width: 80%;
  }
  
  .head-title__small-text {
    width: 60%;
  }
  
  .head-title__text {
    font-size: 3em;
  }

  .content-first__image {
    display: flex;
    justify-content: center;
  }

  .content-first__image img {
    width: 80%;
  }

  .content-first__container_text-under-image {
    font-size: 0.9rem;
  }

  .content-second {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }

  .content-second__text-columns {
    padding-top: 10%;
  }

  .content-second__image {
    margin: 0;
  }

  .content-second__text-columns_column {
    width: 80%;
  }

  .content-second__text-columns {
    align-items: center;
    margin: 0;
  }

  .main__services_first {
    font-size: 1.5em;
  }
  .main__services_second {
    font-size: 1em;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .box__text {
    padding-bottom: 8%;
    align-items: center;
  }
  .box__img {
    padding-left: 20%;
  }
  .people {
    display: flex;
    flex-wrap: wrap;
  }
  .break {
    display: none;
  }
  .footer {
    margin: 0%;
  }
  .footer__container {
    width: 80%;
  }
  .under-footer__container {
    width: 80%;
    padding: 1% 0;
    align-items: center;
  }
  .footer__container_block {
    padding: 5% 0;
  }
}
@media only screen and (max-width: 768px) {
  .box__img {
    padding-left: 20%;
  }

  .box__img {
    padding-left: 20%;
  }

  .head-title__text {
    width: 100%;
    margin: 5% auto;
  }

  .head-title__input-container {
    display: inline-block;
    padding: 10% 0;
    box-sizing: border-box;
  }

  .content-first__container_companies {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }

  .content-first__container_companies a {
    padding: 2vh 6vw;
  }
  
  .head-title__input-container_email-input {
    margin: 0;
    padding: 15px 3vw;
    font-size: 1rem;
  }

  .head-title__text {
    font-size: 2em;
  } 

  .navbar {
    display: none;
  }

  .nav-container-md {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-burger {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: -250px;
    width: 40%;
    height: 100%;
    background-color: #a17ffc;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 3.5vw;
    z-index: 5;
  }

  .nav-burger__center {
    display: flex;
    flex-direction: column;
  }

  .nav-burger__center_link {
    color: white;
    font-weight: 700;
    padding: 5% 10%;
  }

  .nav-burger__login {
    padding: 0 10% 20% 10%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-burger__login a {
    padding-top: 10%;
    color: white;
  }

  .navbar__logo_with-burger {
    display: block;
    padding: 10%;
    width: 120%;
  }

  #underline-link::after {
    content: "";
    height: 5%;
    width: 50%;
    background-color: #ffffff;
    border-radius: 4px;
    display: block;
    margin-top: 22px;
  }

  .nav-burger__logo {
    padding: 30% 10% 10% 10%;
  }

  .burger__logo {
    width: 18vw;
  }

  .discount {
    padding-top: 10%;
  }

  .head-text-for-services {
    font-size: 2em;
  }
  .main__services {
    width: 100%;
    align-items: center;
  }
  .box__img_image {
    width: 80%;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .box__text {
    display: flex;
    align-items: center;
    padding: 50px 0;
  }
  .box__text_big {
    font-size: 2em;
    text-align: center;
  }
  .box__text_small {
    font-size: 1em;
    text-align: center;
  }
  .main__services_first {
    font-size: 1.2em;
    padding-top: 20px;
  }
  .main__services_second {
    font-size: 1.2em;
    padding-top: 10px;
    width: 70%;
    text-align: center;
  }
  .box__text_button {
    width: 30%;
    font-size: 00.9em;
  }
  .people {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15%;
  }
  .people__first {
    width: 40%;
  }
  .break {
    display: none;
  }
  #break__text {
    font-size: 1.5em;
    margin: 0 auto;
  }
  .break__icon {
    width: 30%;
  }
  .footer__container {
    width: 80%;
  }
  .footer__container_block {
    padding: 10px 10px;
    width: 30%;
  }
  .footer__container_block_link {
    font-size: 0.6em;
  }
  .footer__container_block_install-text {
    font-size: 0.6em;
  }
  .footer__container_img {
    width: 110%;
  }

  .under-footer__container {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .box__img {
    padding-left: 20%;
  }

  .head-title__text {
    font-size: 1.5em;
  } 

  .head-title__small-text {
    width: 90%;
  }

  .head-title__input-container_submit-email {
    padding: 10px 3%;
    margin-left: -4vw;
    font-size: 0.8rem;
  }

  .head-title__input-container {
    display: inline-block;
    padding: 10% 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .head-title__input-container_email-input {
    margin: 0;
    padding: 10px 6%;
    font-size: 0.8rem;
  }

  .discount {
    font-size: smaller;
  }

  .discount__59 {
    border-left: 30px solid #f2f9eb;
    padding: 5px 10px;
    margin-left: -45px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #f2f9eb;
    z-index: -1;
  }
  
  .discount__90 {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
    background-color: #81c43b;
  }

  .content-first__container_text-under-image {
    font-size: 0.7rem;
    width: 80%;
    margin: auto;
  }

  .under-footer {
    border: 1px solid black;
  }
  .under-footer__container_img_exact {
    width: 30%;
  }
  .under-footer__container_img {
    width: 30%;
  }

  .under-footer__container_text {
    font-size: 1em;
  }
  .main__services_first {
    font-size: 1em;
  }
  .main__services_second {
    font-size: 0.9em;
  }
  .people {
    padding: 10%;
  }
  .box__text_small {
    font-size: 0.6em;
  }
  .box__text_big {
    font-size: 1.5em;
  }

  .footer {
    display: none;
  }
  .head-text-for-services {
    font-size: 1.5em;
  }
}

#burger-menu {
  top: 5%;
  left: 30%;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0px;
  margin-right: 10%;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    rgb(121, 110, 255),
    rgb(121, 110, 255) 20%,
    transparent 20%,
    transparent 40%,
    rgb(121, 110, 255) 40%,
    rgb(121, 110, 255) 60%,
    transparent 60%,
    transparent 80%,
    rgb(121, 110, 255) 80%,
    rgb(121, 110, 255) 100%
  );
}
